@import "../../vars.css";

body {
	background: #E5E5E5;
}

.tbody_read {
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	position: center;
	width: 1055px;
	height: 249px;
	left: 128px;
	top: 153px;
	background: var(--color-white);
	border: 1px solid #E5E7EB;
	box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
}

.table_read{
    border-spacing: 0px;
}

.th_read {
	flex-direction: row;
	align-items: center;
	position: static;
	width: 98px;
	height: 16px;
	top: 12px;
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: left;
	color: #828282;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
	border-bottom: 1px solid #E5E7EB;
	padding: 12px 22px;
	white-space: nowrap;
}

.td_read {
	position: static;
	width: 35px;
	height: 20px;
	left: 24px;
	top: 16px;
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #828282;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
	padding: 12px 24px;
	white-space: nowrap;
}

.tr_read {
	flex-direction: row;
	align-items: center;
	padding: 12px 24px;
	position: static;
	width: 172px;
	height: 40px;
	left: 0px;
	top: 0px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 0px 0px;
}

.tr_read:nth-child(odd) {
	background-color: rgba(249, 250, 251, 1);
}

.button_create_page_read {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 9px 17px;
	position: center;
	width: 122px;
	height: 38px;
	left: 128px;
	top: 86px;
	background: var(--color-button);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	border: 2px solid var(--color-button);;
	font-family: var(--font-family);
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-white);;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 10px 0px;
}

button:hover {
	color: #008378;
}

.linkbutton {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: inline;
	padding: 0;
	box-shadow: none;
	position: static;
	width: 26px;
	height: 20px;
	left: 0px;
	top: 0px;
	font-family: var(--font-family);
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: var(--color-button);
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
}

.linkbutton:hover {
	color: #008378;
}